.feed 
  background-color: #36393f
  display: grid
  grid-template-columns: auto 240px
  grid-template-rows: 50px auto 
  grid-template-areas: "feed-nav feed-nav" "feed-content feed-members"
  height: 100vh
  z-index: 1
  position: relative

  .feed__nav
    grid-area: feed-nav
    z-index: 99
    position: relative
    display: flex
    align-items: center
    box-shadow: 0 1px 0 rgba(0,0,0,.3), 0 2px 0 rgba(0,0,0,.06)
    box-sizing: border-box
    color: #fff
    height: 50px
    font-weight: 500
    font-size: 20px
    padding: 0 12px 0 16px
      
    div 
      padding: 0 2px
      letter-spacing: 0.5px
  
  .feed__content
    grid-area: feed-content
    overflow-y: scroll  
    display: grid
    grid-template-columns: auto 
    grid-template-rows: auto 100px
    z-index: 10
    position: relative

  .feed__members 
    grid-area: feed-members
    overflow-y: scroll  
    display: grid
    background-color: #2f3136
    margin: 0
    z-index: 9
    position: relative