.t-divider
  display: flex
  flex-direction: row
  align-items: flex-start
  border-bottom: 1px solid #474a4f
  padding: 20px 0
  margin: 0 20px

  .t-avatar 
    margin-right: 5px
    margin-left: 10px

    img 
      width: 40px
      height: 40px
      border-radius: 50%
  
  .t-default-avatar
    height: 40px
    width: 40px
    border-radius: 50%
    
  .t-content
    padding: 0 13px

    .t-info
      display: flex
      flex-direction: row
      justify-content: flex-start
      margin-bottom: 3px

      .t-author 
        display: flex
        text-align: center
        align-self: flex-start
        font-size: 15px
        font-weight: 400
        height: 20px
        line-height: 20px
        white-space: nowrap
        word-spacing: -1em
        color: white
        margin-right: 8px

      .t-time 
        display: flex
        align-self: flex-start
        justify-content: flex-start
        font-size: 12px
        line-height: 20px
        height: 20px
        width: 200px
        color: #99aab5
        margin: 1px 27px 0 0
  
.t-divider:last-child
  border: none