.t-divider
  display: flex
  flex-direction: row
  align-items: flex-start
  border-bottom: 1px solid #474a4f
  padding: 20px 10px
  margin: 10px 20px

  .t-avatar 
    margin-right: 10px

    img 
      width: 50px
      height: 50px
      border-radius: 50%
    
  .t-content
    padding: 2px 13px
    letter-spacing: 1px

    .t-info
      display: flex
      flex-direction: row
      justify-content: flex-start
      
      .t-author 
        display: flex
        text-align: center
        align-self: flex-start
        font-size: 1rem
        font-weight: 500
        height: 20px
        white-space: nowrap
        word-spacing: -1em
        color: white
        line-height: .5rem
        margin: 4px 8px 0 0

      .t-time 
        font-size: 0.75rem
        text-align: center
        display: flex
        height: 20px
        align-self: flex-start
        justify-content: flex-start
        width: calc(20ch)
        color: #99aab5
        margin: 2px 27px 0 0
      
    .t-message
      display: flex
      flex-direction: column

      .t-child:first-child
        .message
          left: 0
          
          .m-time
            display: none
  
.t-divider:last-child
  border: none
  padding-bottom: 10px