@import '../../globals/global.sass'

.member
  border-radius: 3px
  box-sizing: border-box
  display: flex
  flex-direction: row
  height: 40px
  margin: 1px 10px
  overflow: hidden
  padding: 0 8px
  justify-content: start
  align-items: center

  .member__avatar 
    margin-right: 10px
    
    img
      height: 30px
      width: 30px
      border-radius: 50%
  
  .member-default-avatar
    height: 30px
    width: 30px
    border-radius: 50%

  .member__name
    font-size: 16px
    line-height: 32px
    color: #b9bbbe
    min-width: 0
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    font-weight: 500

  &:hover 
    background-color: rgba(79,84,92,.6)

    .member__name
      color: #FFF