
.member__list
  max-width: 240px
  margin-bottom: 20px
  
  .ml__presence
    display: flex
    align-items: center
    color: #b9bbbe
    height: 30px
    font-size: 12px
    padding: 20px 20px 0 20px


