@import '../../globals/global.sass'

#canva
  position: relative
  margin-bottom: 40px
  
  .c-wrapper 
    width: 100%
    display: flex
    flex-direction: column


    .c-content 
      margin: auto
      color: $white
      text-align: center
      max-width: 768px
      
      padding: 40px 40px 0 40px

      h1 
        font-size: 36px
        line-height: 44px
      
      p 
        color: #737f8d
        font-size: 16px
        line-height: 24px

  .c-canvas
    background-color: #26262b
    width: 1200px
    margin: auto
    color: $discordBlue
    background-image: url('/assets/x.svg'),
    url('/assets/x.svg'),
    url('/assets/triangle.svg'),
    url('/assets/triangle.svg'),
    url('/assets/circle.svg'),
    url('/assets/circle.svg'),
    url('/assets/square.svg'),
    url('/assets/square.svg'),
    url('/assets/dot.svg'),
    url('/assets/dot.svg'),
    url('/assets/dot.svg'),
    url('/assets/dot.svg'),
    url('/assets/dot.svg')
    background-repeat: no-repeat
    background-size: 2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%,
    2%
    background-position: 7% 20%,
    88% 55%,
    5% 40%,
    47% 10%,
    24% 12%,
    91% 46%,
    68% 5%,
    78% 30%,
    5% 60%,
    27% 5%,
    60% 20%,
    88% 6%,
    93% 70%

    .c-canva
      z-index: 10
      height: 600px
      position: relative
      background-image: url('/assets/android.svg'),
      url('/assets/potion.svg'),
      url('/assets/apple.svg'),
      url('/assets/headphones.svg'),
      url('/assets/laptop.svg'),
      url('/assets/controller.svg'),
      url('/assets/desktop.svg'),
      url('/assets/coin.svg'),
      url('/assets/coin.svg'),
      url('/assets/bomb.svg'),
      url('/assets/box.svg'),
      url('/assets/floppy.svg'),
      url('/assets/cd.svg')
      color: $white
      background-repeat: no-repeat
      background-size: 10%,
      10%, 
      10%, 
      8%, 
      43%,
      10%,
      40%,
      5%,
      5%,
      5%,
      5%,
      5%,
      15%
      background-position: 12% 83%,
      6% 84%,
      25% 84%,
      75% 54.5%,
      84% 80%,
      37% 88.5%,
      46% 71%,
      52% 10%,
      18% 40%,
      15% 35%,
      30% 18%,
      68% 27%,
      93% 88%
