
.add__message 
  display: grid
  padding: 0 20px

  form 
    align-self: center
    border-top-style: solid
    border-top-color: #474a4f
    border-width: 1px
    box-sizing: border-box
    padding: 20px 0

    input
      width: 100%
      outline: none
      border-radius: 8px
      border-style: solid
      border-width: 1px
      box-sizing: border-box
      transition: background-color .15s ease,border .15s ease
      background-color: hsla(210,5%,30%,1)
      border-color: hsla(210,5%,30%,1)
      height: 45px
      padding: 10px
      font-size: 14px
      color: #dcddde