
.guildList 
  background-color: #202225

  .separator 
    height: 2px
    margin: 10px auto
    position: relative
    width: 50px

  .separator::after
    content: " "
    height: 2px
    left: 20%
    position: absolute
    right: 20%
    top: 0
    background-color: white
  
  .guilds 
    margin: 0 auto