@import '../../globals/global.sass'

.dm__entry 
  border-radius: 3px
  box-sizing: border-box
  display: flex
  flex-direction: row
  height: 40px
  margin: 2px 8px 2px 8px
  overflow: hidden
  justify-content: start
  align-items: center
  
  .member
    width: 100%
    margin: 0

.dm-active 
  background-color: rgba(79,84,92,.6)
  pointer-events: none